* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.separado {
    margin-right: 30px;
    color: white;
    font-weight: bold;
}

.nombre_logo {
    font-weight: bold;
    font-size: 20px;
    padding-left: 1vh;
}

#activo {
    color: #00A1FF;
}

.separado_principal {
    margin-right: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(0, 4, 255);/
}

.separado_principal a {
    color: #00A1FF;
}

#boton_inscripcion:hover {
    transition: text-shadow ease 0.2s;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.contenedor_imagen_i1 {
    width: 100%;
    height: auto;
    position: relative;
}

.contenedor_encabezado label {
    color: white;
}

.contenedor_imagen_i1 h1 {
    font-weight: bold;
    color: white;
    font-size: 2em;
    text-align: center;
}

.contenedor_imagen_i1 h3 {
    padding-top: 20px;
    text-align: center;
}

.capa_opacidad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 20vh;
}

.capa_opacidad span {
    padding-right: 10px;
}

.capa_opacidad h1 {
    font-size: 10vh
}

@media (max-width: 576px) {
    .capa_opacidad h1 {
        font-size: 20px;
    }
}


a {
    text-decoration: none;
    color: white;
}


.masthed {
    background-size: cover;
    min-height: 45vh;
    position: relative;
}

.contenedor_segunda_parte {
    padding-top: 120px;
    color: white;
}

.contenedor_total_2da_parte {
    background-color: rgb(26, 26, 26);
}

.contenedor_total_2da_parte .contenido {
    padding-bottom: 5vh;
}

.contenedor_total_2da_parte .carousel-imagenes {
    text-align: center;
}

.carousel-item {
    height: 70vh;
    min-height: 300px;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

.contenedor_total_2da_parte .contenido p {
    font-size: 20px;
}

.titulo {
    color: #00A1FF;
    font-weight: bold;
    margin: 0px;
}


.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}


.contenedor_parrafo_dos {
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: 20px;
    padding: 10vh 0px;
}


.filtro {
    filter: brightness(0.5);
    min-height: 300px;
    object-fit: cover;
}

.contenedor_parte_tres {
    text-align: center;
    position: relative;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 10px;

}

.texto h2 {
    margin: 0;
    color: #00A1FF;
    font-weight: bold;
    font-size: 7vh;
    backdrop-filter: blur(20px);
}

.imagen_ofrecer_d {
    object-fit: cover;
}

.titulo_carta {
    padding: 25px;
}

.titulo_carta h5:hover {
    transition: ease 0.5s;
    background-color: #0075b9;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
}

.contenedor_parte4 h5 {
    text-align: center;
    border: 1px solid transparent;
    border-radius: 45px;
    background-color: #00A1FF;
    color: white;
    padding: 10px 10px;
}

.contenedor_cuatro {
    background-color: rgb(48, 48, 48);
    padding: 20px 0px;
}

.card {
    background-color: #3d3d3d;
    border-radius: 45px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin-top: 20px;
}

.imagen_carta {
    padding: 10px;
    border-radius: 45px;
}

@media (max-width: 576px) {
    .contenedor_parte_tres h2 {
        font-size: 30px;
    }
}


.contenedor_cinco {
    padding-top: 20px;
    background-color: black;
}

.contenedor_cinco h2 {
    color: white;
    font-weight: bold;

}

.cuerpo_cinco {
    padding-top: 35vh;
    padding-bottom: 20px;
    background-color: rgb(39, 39, 39);
}

.cuerpo_cinco h2 {
    font-size: 5vh;
}

.cuerpo_informacion {
    margin: 0px;
    padding: 20px 0px;
    background-color: #00A1FF;
    color: black;
}

.cuerpo_informacion h2 {
    font-size: 25x;
    font-weight: bold;
}

.cuerpo_informacion p {
    padding: 0px;
}

.texto_contactanos_info {
    font-size: 15px;
    font-weight: normal;
    justify-content: center;
    text-align: center;
}

.videoe {
    width: auto;
    height: 40em;
    margin: 10px;
}