table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 8%;
    margin-left: 10%;
    

}
th, td {
    border: 1px solid #dddd;
    text-align: left;
    padding: 8px;
    
}

th {
    background-color: #00A1FF;
}


tr:nth-child(even) {
    background-color: #dddd;

}
.navbar-toggler-icon {
    /* Estilos para el ícono */
    color: white;
    background-color: black;
}

.acciones i {
    margin-right: 20px; /* Espacio entre los íconos */
    font-size: 25px ;
}